@using Microsoft.AspNetCore.Identity;
@using RAZOR_PAGE9_ENTITY.Models;
@inject SignInManager<AppUser> signInManager;
@inject UserManager<AppUser> userManager;


@if (signInManager.IsSignedIn(User))
{
    <ul class="navbar - nav">
        <li>
            <a class="nav-link text-dark"asp-area="Identity" asp-page="/Account/Manage/Index">Xin chao @userManager.GetUserName(User)</a>
        </li>
        <li>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Đăng xuất</button>
            </form>
        </li>
    </ul>
} 
else
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Đăng ký</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
        </li>

    </ul>
    
}

